
:root {
    --dark: #1D1D1D;
    --light: whitesmoke;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: sans-serif;
}
main {
    text-align: center;
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
}
a:link, a:visited {
    color: inherit;
}
li {
    text-align: left;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--light);
        color: var(--dark);
    }
}